figcaption {
	position: absolute; 
  	background: rgba(0,0,0,0.75); 
  	color: white; 
	left: 16px;
  	top: 280px;
  	width: 280px;
  	z-index: 100;
  	padding: 3px 5px 3px 5px;
}
p {
	padding-top: 10px;
}